<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />

<head>
    <title>Login</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <section>
        <div class="jumbotron">
            <div class="container">
                <h1 th:text="${message}"></h1>
            </div>
        </div>
    </section>
    <section class="container">
        <div class="row">
            <div class="col-sm-6 col-md-3" style="padding-bottom: 15px">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>Products</h3>
                        <p>Display all products</p>
                        <p>
                            <a th:href="@{/products}" class="btn btn-default"> <span
                                    class="glyphicon-info-sign glyphicon"/></span> All products
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3" style="padding-bottom: 15px">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>Customers</h3>
                        <p>Display all customers</p>
                        <p>
                            <a th:href="@{/customers}" class="btn btn-default"> <span
                                    class="glyphicon-info-sign glyphicon"/></span> All customers
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="container">
        <div class="row">
            <div class="col-sm-6 col-md-3" style="padding-bottom: 15px">
                <div class="thumbnail">
                    <div class="caption">
                        <div class="caption">
                        <h3>Add product</h3>
                        <p>Create new product</p>
                        <p>
                            <a th:href="@{/product/add}" class="btn btn-default"> <span
                                    class="glyphicon-info-sign glyphicon"/></span> Add product
                            </a>
                        </p>
                    </div>
                        <div class="caption">
                            <h3>Edit product</h3>
                            <p>Edit  product</p>
                            <p>
                                <a th:href="@{/product/add}" class="btn btn-default"> <span
                                        class="glyphicon-info-sign glyphicon"/></span> Edit product
                                </a>
                            </p>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3" style="padding-bottom: 15px">
                <div class="thumbnail">
                    <div class="caption">
                        <div class="caption">
                            <h3>Find product</h3>
                            <p>Find product</p>
                            <p>
                                <a th:href="@{/product/find}" class="btn btn-default"> <span
                                        class="glyphicon-info-sign glyphicon"/></span> Find product
                                </a>
                            </p>

                        </div>

                    </div>
                </div>
    </section>
</div>
</body>
</html>
